<header role="banner" id="fh5co-header">
    <div class="container-fluid" id="scroll-container" style="background-color: blue; width: 100%; position: fixed; top: 0; left: 0;">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <!-- Mobile Toggle Menu Button -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html" style="color: white;">{{ with .Site.Params.navigation.brand }}{{ . | markdownify }}{{ end }}</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    {{ range .Site.Menus.prepend }}
                        <li><a class="external" href="{{ .URL }}"><span class="menu-text">{{ .Name | markdownify }}</span></a></li>
                    {{ end }}
                    <li><a href="{{ .Site.BaseURL }}" onclick="handleMouseClick(event, '{{ .Site.BaseURL }}')"><span class="menu-text">{{ with .Site.Params.navigation.home }}{{ . | markdownify }}{{ end }}</span></a></li>
                    <li><a href="{{ .Site.BaseURL }}" onclick="handleMouseClick(event, '{{ .Site.BaseURL }}')"><span class="menu-text">{{ with .Site.Params.navigation.work }}{{ . | markdownify }}{{ end }}</span></a></li>
                    {{ if .Site.Params.testimonials.enable }}
                        <li><a href="{{ .Site.BaseURL }}" onclick="handleMouseClick(event, '{{ .Site.BaseURL }}')"><span class="menu-text">{{ with .Site.Params.navigation.testimonials }}{{ . | markdownify }}{{ end }}</span></a></li>
                    {{ end }}
                    {{ if .Site.Params.services.enable }}
                        <li><a href="{{ .Site.BaseURL }}" onclick="handleMouseClick(event, '{{ .Site.BaseURL }}')"><span class="menu-text">{{ with .Site.Params.navigation.services }}{{ . | markdownify }}{{ end }}</span></a></li>
                    {{ end }}
                    {{ if .Site.Params.about.enable }}
                        <li><a href="{{ .Site.BaseURL }}" onclick="handleMouseClick(event, '{{ .Site.BaseURL }}')"><span class="menu-text">{{ with .Site.Params.navigation.about }}{{ . | markdownify }}{{ end }}</span></a></li>
                    {{ end }}
                    {{ if .Site.Params.contact.enable }}
                        <li><a href="{{ .Site.BaseURL }}" onclick="handleMouseClick(event, '{{ .Site.BaseURL }}')"><span class="menu-text">{{ with .Site.Params.navigation.contact }}{{ . | markdownify }}{{ end }}</span></a></li>
                    {{ end }}
                    {{ range .Site.Menus.postpend }}
                        <li><a class="external" href="{{ .URL }}"><span class="menu-text">{{ .Name | markdownify }}</span></a></li>
                    {{ end }}
                </ul>
            </div>
        </nav>
    </div>
</header>

<script>
    var scrollContainer = document.getElementById('scroll-container');
    var threshold = 100;

    function updateHeaderColors() {
        var scrollTop = window.pageYOffset || document.documentElement.scrollTop;
        var isScrolled = scrollTop > threshold;
        var logoElement = document.getElementsByClassName('navbar-brand')[0];

        if (isScrolled) {
            scrollContainer.style.backgroundColor = 'white';
            setMenuTextWhite(true);
            logoElement.style.color = 'blue';
        } else {
            scrollContainer.style.backgroundColor = 'blue';
            setMenuTextWhite(false);
            logoElement.style.color = 'white';
        }
    }

    function setMenuTextWhite(isWhite) {
        var menuTextElements = document.getElementsByClassName('menu-text');

        for (var i = 0; i < menuTextElements.length; i++) {
            menuTextElements[i].style.color = isWhite ? 'blue' : 'white';
        }
    }

    window.addEventListener('scroll', updateHeaderColors);
    window.addEventListener('resize', updateHeaderColors);

    function handleMouseClick(event, url) {
        if (event.button === 2) {
            // Right mouse button clicked
            window.open(url, '_blank');
        } else {
            // Left mouse button clicked
            if (url.includes('#')) {
                event.preventDefault();
                var targetSection = url.substring(url.indexOf('#') + 1);
                scrollToSection(targetSection);
            } else {
                window.location.href = url;
            }
        }
    }

    function scrollToSection(sectionId) {
        var targetElement = document.getElementById(sectionId);
        if (targetElement) {
            targetElement.scrollIntoView({ behavior: 'smooth' });
        }
    }
</script>
